html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

textarea {
  width: 450px;
  height: 100%;
  flex: 1;
  padding: 0.5em;
  font-size: large;
}

button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 0.5%;
  margin-top: 0.5%;
}

button:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background-color: #3e8e41;
}

button:active {
  transform: translateY(0.4px);
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: progress;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 150px;
  padding: 8px;
  background-color: #e1dfdf;
  border-radius: 0.2em;
  margin-top: 0.5em;
}

.title {
  text-align: center;
}

.hidden {
  display: none;
}

#user-question {
  resize: none;
}

.ai-response {
  margin: 2em 5em;
  max-width: 750px;
  padding: 1em;
  background-color: #00800042;
  border-radius: 0.4em;
  display: none;
}

.sources {
  margin: 2em 5em;
  max-width: 750px;
  padding: 1em;
  background-color: #006b802e;
  border-radius: 0.4em;
  display: none;
}

#after-question-text {
  font-weight: bold;
}
